/*------------------------------------------------------*/
/* X 004 IMAGE THUMBNAIL
/*------------------------------------------------------*/
/*---------- GENERAL ----------*/
#x_004_img_thumbnail {
  height: 643px;
  background: #f0f3f8;
}
#x_004_img_thumbnail > .carousel-inner{
  width: 100%;
  height: 500px;
  margin: auto;
}
#x_004_img_thumbnail:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#x_004_img_thumbnail:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#x_004_img_thumbnail > .carousel-inner > .carousel-item > img,
#x_004_img_thumbnail > .carousel-inner > .carousel-item > a > img {
  width: 100%;
  opacity: 0.9;
  margin: auto;
}
/*---------- INDICATORS THUMBNAIL CONTROL ----------*/
.x_004_img_thumbnail_indicators > .carousel-indicators {
  left: 0;
  right: 0;
  top: auto;
  width: 60%;
  bottom: 15px;
  margin: auto;
  font-size: 0;
  padding: 5px 5px;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
}
.x_004_img_thumbnail_indicators > .carousel-indicators li:before,
.x_004_img_thumbnail_indicators > .carousel-indicators li:after{
  display: none;
}
.x_004_img_thumbnail_indicators > .carousel-indicators li{
  width: 15%;
  padding: 0;
  height: 100%;
  text-indent: 0;
  margin: 0 10px;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  border: 5px solid #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s;
  transition: all cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.7s;
}
.x_004_img_thumbnail_indicators > .carousel-indicators .active{
  width: 15%;
  height: 100%;
  margin: 0 10px;
  background: transparent;
  border: 5px solid #e00d4e;
}
.x_004_img_thumbnail_indicators > .carousel-indicators li img{
  width: 100%;
  opacity: 0.9;
  display: block;
}
.x_004_img_thumbnail_indicators > .carousel-indicators::-webkit-scrollbar{
  margin: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
}
.x_004_img_thumbnail_indicators > .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.7);
}
/*---------- TEXT ----------*/
.x_004_img_thumbnail_text{
  left: 0;
  right: 0;
  top: auto;
  bottom: 25%;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  background: #e00d4e;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.x_004_img_thumbnail_text > a{
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px){
  /*---------- GENERAL ----------*/
  #x_004_img_thumbnail {
    height: 265px;
    padding: 5px 0;
  }
  #x_004_img_thumbnail > .carousel-inner{
    width: 98%;
    height: 200px;
    border: 5px solid #ffffff;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .x_004_img_thumbnail_indicators > .carousel-indicators {
    bottom: 0;
    width: 97%;
  }
  .x_004_img_thumbnail_indicators > .carousel-indicators li{
    margin: 0 5px;
    border: 2px solid #ffffff;
  }
  .x_004_img_thumbnail_indicators > .carousel-indicators .active{
    margin: 0 5px;
    border: 2px solid #e00d4e;
  }
  /*---------- TEXT ----------*/
  .x_004_img_thumbnail_text{
    bottom: 45%;
    width: 175px;
    height: 25px;
    line-height: 25px;
  }
  .x_004_img_thumbnail_text > a{
    font-size: 16px;
  }
}

/*---------- MEDIA 481px - 767px ----------*/
@media (min-width: 481px) and (max-width: 767px){
  /*---------- GENERAL ----------*/
  #x_004_img_thumbnail {
    height: 350px;
    padding: 10px 0;
  }
  #x_004_img_thumbnail > .carousel-inner{
    width: 85%;
    height: 250px;
  }
  /*---------- INDICATORS THUMBNAIL CONTROL ----------*/
  .x_004_img_thumbnail_indicators > .carousel-indicators {
    bottom: 0;
    width: 85%;
  }
  .x_004_img_thumbnail_indicators > .carousel-indicators li{
    margin: 0 5px;
    border: 2px solid #ffffff;
  }
  .x_004_img_thumbnail_indicators > .carousel-indicators .active{
    margin: 0 5px;
    border: 2px solid #e00d4e;
  }
  /*---------- TEXT ----------*/
  .x_004_img_thumbnail_text{
    bottom: 45%;
  }
}

/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px){
  /*---------- GENERAL ----------*/
  #x_004_img_thumbnail {
    height: 425px;
  }
  #x_004_img_thumbnail > .carousel-inner{
    height: 305px;
  }
}
/*---------- MEDIA 992px - 1250px ----------*/
@media (min-width: 992px) and (max-width: 1250px){
  /*---------- GENERAL ----------*/
  #x_004_img_thumbnail {
    height: 543px;
  }
  #x_004_img_thumbnail > .carousel-inner{
    height: 390px;
  }
}

/*--------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*--------------------------------------------*/
/*----- ps_ease -----*/
.ps_ease .carousel-item{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*----- ps_easeInOut -----*/
.ps_easeInOut .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/*----- ps_speedy -----*/
.ps_speedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
/*----- ps_slowSpeedy -----*/
.ps_slowSpeedy .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
/*----- ps_easeOutInCubic -----*/
.ps_easeOutInCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
/*----- ps_swing -----*/
.ps_swing .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
/*----- ps_easeOutCubic -----*/
.ps_easeOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
/*----- ps_easeInOutCubic -----*/
.ps_easeInOutCubic .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
/*----- ps_easeOutCirc -----*/
.ps_easeOutCirc .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
/*----- ps_easeOutExpo -----*/
.ps_easeOutExpo .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
/*----- ps_easeInQuad -----*/
.ps_easeInQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
/*----- ps_easeOutQuad -----*/
.ps_easeOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
/*----- ps_easeInOutQuad -----*/
.ps_easeInOutQuad .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
/*----- ps_easeOutQuart -----*/
.ps_easeOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
/*----- ps_easeInOutQuart -----*/
.ps_easeInOutQuart .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
/*----- ps_easeOutQuint -----*/
.ps_easeOutQuint .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/*----- ps_easeInSine -----*/
.ps_easeInSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
/*----- ps_easeOutSine -----*/
.ps_easeOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
/*----- ps_easeInOutSine -----*/
.ps_easeInOutSine .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}